.paginator
  text-align: center
  text-size('s-1')
  padding: 5rem 0
  a
    display: inline-block
  .extend
    text-decoration: none
    margin: 0.3rem
    padding: 0.3rem 1rem
    border: 2px solid $color-black-2
    background: $color-main
  .prev, .next
    position relative
  .page-number
    text-size('s-3')
    // font-weight: 400
    padding: 0 0.5em

@media screen and (max-width: $S)
  .footer
    font-size: 10px;
